H1 {
	font-size: 3vw;
	& + .subtitle {
		font-size: 1.25vw;
		white-space: nowrap;
		@include respond-to(smartphone) {
		    margin-top: -5vw;
		}
	}
	@include respond-to(smartphone) {
		font-size: 12vw;
		line-height: 12vw;
	}
}
H2 {
	font-size: 2rem;
}