* {
	box-sizing: border-box;
	&::selection {
		color: getColor('bg');
		background: getColor('a');
	}
}

BODY {
	font-family: 'Zilla Slab', serif;
	background: getColor('bg');
	color: getColor('fg');
	height: 100vh;
	overflow: hidden;
}

A {
	color: getColor('fg');
	text-decoration: none;
	@include baseTransition;
	&:hover {
		color: getColor('a');
	}
}

.wrapper {
	display: flex;
	flex-direction: row;
	height: 100%;
	
	@include respond-to(smartphone) {
		flex-direction: column;
		height: auto;
	}
}


HTML .mCS-my-theme.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{ background-color: red; }
HTML .mCS-my-theme.mCSB_scrollTools .mCSB_draggerRail{ background-color: white; } 