HEADER {
	height: 100%;
	width: 15%;
	order: 1;
	padding: 0;
	position: relative;
	@include baseTransition;
	@include respond-to(smartphone) {
		width: 100%;
		height: auto;
		position: absolute;
		background: getColor('bg');
		z-index: 1;
		left: -100%;
	}
	.innerWrapper {
		color: getColor('fg');
		padding: $spacing/2;
		transform-origin: top right;
		position: absolute;
		right: 40%;
		text-align: right;
		//width: 140%;
		@include baseTransition;
		display: grid;
		//grid-template-columns: 27% 75%;
		grid-template-rows: auto;
		grid-template-areas: 
			"title    logo"
			"subtitle logo";
		transform: rotate(-90deg) scale(1.25);
		cursor: pointer;
		@include respond-to(smartphone) {
			transform: rotate(0deg) scale(1);
			right: auto;
			left: 0;
		};
	}
	h1 {
		grid-area: title;
	}
	.subtitle {
		grid-area: subtitle;
		@include respond-to(smartphone) {
			font-size: 5vw;
			text-align: center;
		};
	}
	.logo {
		grid-area: logo;
		margin-left: $spacing/2;
		width: 5vw;
		cursor: pointer;
		animation: 2s wiggle infinite;
		animation-fill-mode: both;
		IMG {
			@include baseTransition;
			max-height: 5vw;
			transform: rotate(90deg);
			@include respond-to(smartphone) {
				transform: rotate(0deg);
				max-height: 25vw;
			};
		}
		@include respond-to(smartphone) {
			width: auto;
			margin: 0;
			position: absolute;
			right: -35vw;
		};
	}
	NAV {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		width: 100%;
		overflow: hidden;
		box-sizing: border-box;
		UL {

			LI {
				@include baseTransition;
				width: 0.5%;
				overflow: hidden;
				background: getColor('a');
				color: getColor('bg');
				@for $i from 1 through $nav-items {
					&:nth-child(#{$i}) {
						transition-delay: (($nav-items - 1) * $transition-time)-(($i - 1) * $transition-time);
					}
				}
				& > SPAN, & > A {
					display: inline-block;
					width: 100%;
					padding: $spacing;
					position: relative;
					color: getColor('fg');
					cursor: pointer;
					&:before {
						content: '';
						width: 100%;
						max-width: 0;
						height: 100%;
						position: absolute;
						background: getColor('tr');
						top: 0;
						left: 0;
						z-index: -1;
						@include baseTransition;
					}
					&:hover {
						color: getColor('bg');
						&:before {
							max-width: 100%;
							background: linear-gradient(to right, getColor('a'), getColor('tr') 80%);
						}
					}
				}
			}

		}

	}

	.search {
		white-space: nowrap;
		border: 0px solid getColor('a');
		background: getColor('a');
		@include baseTransition;

		display: flex;
		justify-content: space-around;
		I {
			color: getColor('a');
			padding: 0;// $spacing 0 $spacing/2;
			vertical-align: middle;
			max-width: 20%;
			line-height: 3rem;
			@include respond-to(smartphone) {
				line-height: 2rem;
			}
			&:before {
				// vertical-align: middle;
				line-height: 2rem;
			}
		}
		INPUT {
			border: none;
			outline: none;
			background: transparent;
			color: getColor('bg');
			padding: $spacing;
			max-width: 80%;
			caret-color: getColor('a');
		}
		@include respond-to(smartphone) {
			background: getColor('tr');
			border-top: 1px solid getColor('a');
			height: 2rem;

			I {
				padding: 0;

			}

		}
	}
	@include respond-to(smartphone) {  //smartphones
		width: 100%;
		height: auto;


		&.open {
			left: -100%;
		}
		&:hover {
			width: 100%;
		}
		.innerWrapper {
			grid-template-columns: auto;
			transform-origin: 0 0;
			width: 100%;
			position: static;
			transform: scale(0.95);
		}
		NAV {
			position: static;
			overflow: visible;
			transform: none;
			UL {
				border-bottom: 0.1vh solid getColor('a');
				LI {
					background: transparent;
					color: purple;
					width: 100%;
					text-align: center;
					SPAN {
						color: getColor('fg');
						padding: $spacing/2;
						&:active {
							&:before {
								max-width: 100%;
								background: linear-gradient(to right, gold, transparent 550%);
							}
						}
					}
					&.active A {
						color: getColor('bg');
						&:before {
							max-width: 100%;
							background: getColor('a');
						}
					}
				}
			}
		}
		&:hover {
			.innerWrapper {
				transform: scale(0.95);
				width: 100%;
			}
			NAV {
				max-height: 100vh;
			}
		}
	}
}

.navToggle {
	display: none;

	&:checked {
		& ~ HEADER {
			.innerWrapper {
				transform: rotate(0deg) scale(1);
				padding: $spacing/4;
				right: 0;
				@include respond-to(desktop) {
					transform: rotate(0deg) scale(0.6);
				}
				IMG {
					transform: rotate(0deg);
				}
				.logo {
					position: static;
					animation: none;
				}
			}
			
			NAV {
				LI {
					width: 100%;
					background: linear-gradient(to right, getColor('tr') 0%, getColor('tr') 65%);
					@for $i from $nav-items through 1 {
						&:nth-child(#{$i}) {
							transition-delay: $transition-time * $i;
						}
					}
				}
			}
			.search {
				border: 1px solid getColor('a');
				INPUT {
					border: none;
					&:focus {
						color: getColor('a');	
					}
				}

			}
			.social {
				bottom: 85%;
				transform: rotate(0deg);
			}
			@include respond-to(smartphone) {
				width: 100%;
				height: auto;
				background: getColor('bg');
				position: absolute;
				z-index: 1;
				left: 0;
				transform: rotate(0deg) scale(1);
			}
		}
	}
}