// SPECIAL RULES THAT DO NOT FALL INTO MIXIN MEDIA QUERIES:

@media (max-width : 1000px) {
	MAIN .bracket {
		width: 0;
		overflow: hidden;
	}
}

@media (min-height: 1px) and (max-height : 480px) {
	HEADER .innerWrapper {
		    transform: rotate(0deg) scale(1);
	}
}

@media (max-height : 480px) {
	HEADER .innerWrapper {
		    transform: rotate(-90deg) scale(1);
	}
}