@function getColor($key:'bg') {
	@return map-get( $colors, $key );
}

@mixin baseTransition($t:$transition-time) {
	transition: $t all;
}

$smartphone: "only screen and (min-device-width : 320px) and (max-device-width : 480px)";
$smartphoneLandscape: "only screen and (min-width : 321px)";
$smartphonePortrait: "only screen and (max-width : 320px)";
$iPad: "only screen and (min-device-width : 768px) and (max-device-width : 1024px)";
$iPadLandscape: "only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape)";
$iPadPortrait: "only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait)";
$desktop: "only screen and (min-width : 1224px)";
$desktopXL: "only screen and (min-width : 1824px)";
$iPhone4: "only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5)";


@mixin respond-to($media) {
	@if $media == smartphone {
		@media #{$smartphone} { @content; }
	}
	@else if $media == smartphoneLandscape {
		@media #{$smartphoneLandscape} { @content; }
	}
	@else if $media == smartphonePortrait {
		@media #{$smartphonePortrait} { @content; }
	}
	@if $media == iPad {
		@media #{$iPad} { @content; }
	}
	@else if $media == iPadLandscape {
		@media #{$iPadLandscape} { @content; }
	}
	@else if $media == iPadPortrait {
		@media #{$iPadPortrait} { @content; }
	}
	@if $media == desktop {
		@media #{$desktop} { @content; }
	}
	@else if $media == desktopXL {
		@media #{$desktopXL} { @content; }
	}
	@else if $media == iPhone4 {
		@media #{$iPhone4} { @content; }
	}
}